.name-container {
    align-items: center;
    margin: 5px 10px;
}

.info {
    display: inline-block;
}

.menu {
    display: inline-block;
}

.name {
    margin-left: 5px;
}

.nav-bar {
    justify-content: space-between;
}

.menu-container {
    background: hsl(0 0% 100%/0.1);
    backdrop-filter: blur(1rem);
    border-radius: 10px;
    padding: 1rem;
}

.mobile-nav-toggle {
    display: none;
}

@media (max-width:35em) {
    .menu-container {
        --gap: 2em;
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        align-items: flex-start;
        padding: min(30vh, 10rem) 2em;
        border-radius: 0;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
    .menu-container[data-visible="true"] {
        transform: translateX(0%);
    }
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background: transparent;
        border: 0;
        font-size: 2rem;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
    }
    .line {
        display: none;
    }
}