@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@500&family=Source+Code+Pro&family=Ubuntu:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@500&family=Merriweather+Sans&family=Source+Code+Pro&family=Ubuntu:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    --width: 80vw;
    --color: #AE8056;
}



.header{

    width: 100vw;    
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    max-width: 100vw;
}

.nav-bar{
    margin: 10px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

}
.pad{
    padding: 13px 0px;
}
.name a img{
    margin-right: 13px;
}

.name a{
    text-decoration: none;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;

}




.nav-bar ul{
    display: flex;
}

.tochange{
    margin-top: 0px;
    text-decoration: none;
    color: white;
    padding-left: 21px;
    padding-right: 21px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;

}

.tochange:hover{
    color: var(--color);
}

.nav-bar ul a li{
    list-style: none;
    /* margin: 10px; */

}

/* .middle{
    
    border-color: var(--color);
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    border-radius: 1px;
}
 */


.right{
    display: flex;
    align-items: center;
}
 .line{
    width: 1px;
    background-color:var(--color);
    height: 40px;
 }

 .selected{
    color: var(--color);
 }