.m0 {
    margin: 0;
}

.p0 {
    padding: 0;
}

.flexbox-column {
    display: flex;
    flex-direction: column;
    gap: var(--gap, 1rem);
}

.flexbox-row {
    display: flex;
    flex-direction: row;
    gap: var(--gap, 1rem);
}

html {
    background-image: url("/IMG/mac.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.align-items {
    align-items: center;
}

.justify-content {
    justify-content: center;
}

.white {
    color: white;
}

body {
    overflow-x: hidden;
}